header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 100px;
  z-index: 1000;

  //background: $cor-primaria;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin-left: 20px;

      a {
        justify-content: center;
        text-decoration: none;
        padding: 6px 15px;
        color: white;
        border-radius: 20px;
        color: white;
        scroll-behavior: smooth;
        font-weight: bold;
        font-size: 18px;

        &:hover {
          background: white;
          color: #2b1055;
        }
      }
    }
  }

}