@media only screen and (max-width: 600px){

}
@media only screen and (max-width: 960px){
#stories{
  display: none;
}
#storiesStack{
  display: block !important;
}


#bannerPrim{
  display: none !important;
}
#bannerSec{
  display: block !important;
}
}