@media only screen and (max-width: 600px){

}
@media only screen and (max-width: 960px){
#stories{
  display: none;
}
#storiesStack{
  display: block !important;
}
.arrowbtn{
  display: none;
}

#bannerPrim{
  display: none;
}
#bannerSec{
  display: block !important;
}
#StoriesbtnMax{
  display: none;
}
#StoriesbtnRedus{
  display: block !important;
}
}