@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300;1,400&family=Water+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: rgb(4, 7, 18);
}

nav {
  margin-top: -80px !important;
  height: 50px;
  background-color: rgb(4, 7, 18);
}

main .content {
  background-color: rgb(39, 41, 52);
  padding-bottom: 100px;
}
main .content h2 {
  text-align: center;
  margin-top: 20px;
  color: white;
}
main .content p {
  padding: 10px 100px;
  text-align: center;
  margin-top: 30px;
  color: white;
}
main .deactived {
  display: none;
}

footer {
  height: 200px;
  background: rgb(39, 41, 52);
}
footer section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer section a {
  margin: 80px 50px 0 50px;
}
footer section a img {
  height: 30px;
  width: 30px;
}

.container {
  width: 1024;
  display: flex;
  flex-direction: column;
  margin: 30px 5%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 1024px;
  padding: 30px 100px;
  z-index: 1000;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header ul li {
  margin-left: 20px;
}
header ul li a {
  justify-content: center;
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
  color: white;
  scroll-behavior: smooth;
}
header ul li a:hover {
  background: white;
  color: #2b1055;
}

.banner {
  position: relative;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgb(50, 32, 95);
  overflow-x: hidden;
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 400px;
  object-fit: cover;
  pointer-events: none;
}
.banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgb(4, 7, 18), transparent);
  z-index: 1000;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgb(4, 7, 18), transparent);
  z-index: 10;
}

.banner-content {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgb(39, 41, 52);
}
.banner-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 400px;
  object-fit: cover;
  pointer-events: none;
}
.banner-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgb(39, 41, 52), transparent);
  z-index: 1000;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(39, 41, 52);
  width: 200px;
  min-width: 190px;
  border-radius: 20px;
  margin: 20px 0 30px 0;
  color: white;
}
.card .card-image {
  width: 100%;
  height: 200px;
}
.card .card-image img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card h3 {
  margin: 5px;
}

.js-tilt-glare {
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
